body {
  
 padding: 10px; 
  
}

#canvas {
  
  height: 680px;
  width: 100%;
  border:1px solid grey;
  background-color: #E8E8E8;
  border: 1px solid #888888;
}

ul.attributes {
  
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  list-style-type: none;
  background-color: #F8F8F8;
  border: 1px solid #888888;
}

ul.attributes > li {
  
  counter-increment: section;
  padding: 2px;
}

ul.attributes > li.activited {
  
  border: 1px solid grey;
  padding: 1px;
}

ul.attributes > li.info {
  
  margin-top: 5px;
}

ul.attributes > li.number:before {
  
  content: counter(section);
  text-align: right;
  padding-left: 5px;
  padding-right: 10px;
}

ul.attributes > li > span {
  
  margin-right: 20px;
}

ul.attributes > li > span.rotate:before {
  
  content:"rotate: ";
}

ul.attributes > li > span.scaleX:before {
  
  content:"scale-x: ";
}

ul.attributes > li > span.scaleY:before {
  
  content:"scale-y: ";
}

table.info {
  
  position: absolute;
  right: 20px;
  top: 20px;
  list-style-type: none;
  border: 1px solid #aaa;
  z-index: 1000;
  background-color: rgba(255,255,255,0.5);
}

table.info tr {
  opacity: 0.7;
}

table.info tr:hover {
  opacity: 1;
}

table.info td {
  
  padding: 5px 10px 5px 10px;
  height: 30px;
}

table.info td a{
  
  color: #333;
}

table.info td a:hover {
  
  text-decoration: none;
}

table.info td.link {
  
  cursor: pointer;
}

table.info img {
  
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 30px;
}



